*{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}
body{
    overflow-x: hidden;
}
nav{

    width:100vw;
    height:122px;
    background-color:#3E4D60;
    
    
}
nav > ul{
    width:60.9376%;
    margin:auto;
    min-width:1165px;
    
}
nav > ul > li > a{
    display:block;
    font-size:15px;
    line-height: 19px;
    color:#FFFFFF;
    text-decoration: none;
    font-weight: 900;
    
}
nav ul li a i{
    margin-left:7px;

}
nav ul li{
    display:block;
   float:left;
   
  
}

.item{
    margin-left:35px;
    position:relative;
    height:50px;
    
    padding-top:55px;
    
}

.name{
    width:130px;
    font-size:23.8px;
    color:#ECF0F1;
    margin-top:31px;
    margin-left:20px;
    
}
.fox{
    display:inline-block;
    font-size:35.69px;
    font-weight:900;
    color:#ECF0F1;
    margin-top:-7px;
    
    
}
.shop{
    display:inline-block;
    font-size:35.69px;
    color:#1ABC9C;
    font-weight:400;
  
}
.logo{
    margin-top:40px;
}
.women{
    margin-left:120px;
    margin-right:3px;
}
.cart{
    margin-top:50px;
    margin-left:30px;
}
.search{
    margin-top:50px;
    margin-left:10px;
}
.item a:hover{
    color:#1ABC9C;
}
.active{
    
    width:100%;
    height:5px;
    background-color:white;
    position: absolute;
    top:0;
    left:-10%;
}
.item a:hover .active{
    background-color: #1ABC9C;
   
}
.whiteLine{
    width:100vw;
    height:5px;
    background-color:white;
    position: absolute;
    top:0;
    left:-690px;
    
    
    
}
/* ---------------------------- component-2 -------------------------------- */
.component-2{
    
    width:100vw;
    height:786px;
    background-color:#3E4D60;
    margin-top:-2px; 
    position:relative; 
    padding-bottom:0;
}
.arrow{
    width:50px;
    height:50px;
    box-sizing: border-box;
    border-radius:6px;
    border:1px solid #FFFFFF;
    background-color: transparent;
    color:#FFFFFF;
}
.leftArrow{
   
    position:absolute;
    left: 3.6458%;
    top:310px;
    
}
.rightArrow{
    position:absolute;
    top:310px;
    right: 3.6458%;
   
    
}
.arrow:hover{
    background-color: #FFFFFF;
    color:black;
}
.content{
    width:64.4270%;
    min-width:1133px;
    margin:auto;
   
}
.iphone{
    margin-top:10px;
    float:left;
}
.text{
    display:inline-block;
    margin-top:110px;
    
   float:right;
    width:602px;
}
.text-1{
    font-size:36px;
    font-weight:300;
    color:#FFFFFF;
  
}
.text-2{
    font-size:90px;
    font-weight:300;
    color:#FFFFFF;
    display: inline-block;
   margin-top:-2px;
   margin-left:-3px;
}
.text-2:first-child{
    font-weight:400;
}
.s{
    display:inline-block;
    border:1px solid #FFFFFF;
    border-radius:8px;
    height:60px;
    width:61px;
    font-size:50px;
    text-align: center;
    box-sizing: border-box;
    margin-left:14px;
    color:#FFFFFF;
    padding:0;
   vertical-align: super;
}
.text-3{
    font-size:18px;
    color:#FFFFFF;
    width:592px;
    line-height: 30px;
    margin-top:25px;
    font-weight:300;
}
.viewMore{
    width:160px;
    height:50px;
    background-color: #1D2C3B;
    color:#FFFFFF;
    margin-top:40px;
    font-size:18px;
    font-weight:900;
 
    border:none;
}
.only{
    width:160px;
    height:50px;
    background-color: #1ABC9C;
    color:#FFFFFF;
    margin-top:42px;
    font-size:18px;
    font-weight:900;
    padding-top:5px;
    margin-left:8px;
    border:none;
}
.dots{
    width:100%;
    height:30px;
    position:absolute;
    bottom:20px;
    padding-top:10px;
    text-align: center;
}
.dot{
    width:15px;
    height:15px;
    box-sizing: border-box;
    border:1px solid white;
    background-color:white;
    border-radius:50%;
    display:inline-block;
    margin:0 5px;
}
.dot:hover{
    background-color: transparent;
}
.space{
    width:100vw;
    height:54px;
    background-color:#ECF0F1;
    margin-top:-2px;
}
.space-1{
    width:100vw;
    height:54px;
    background-color:white;
    margin-top:-2px;
}
/* ----------------------component 3-------------------- */
.component-3{
    
    margin:0;
    /* padding:0 375px 0 375px; */
    background-color:#ECF0F1;
    margin-top:-2px;
    height:784px;
}
.container-3{
    width:60.9895%;
    min-width:1120px;
    margin:auto;
    padding-top:38px;
}
h2{
    display:inline-block;
    /* margin-top:37px; */
    font-size:36px;
    font-weight:900;
    color:#34495E;
}
h2 > span{
    font-weight:300;
    margin-left:5px;
}
.button{
    
    float:right;
    width:38px;
    height:38px;
    color:#A1B0BA;
    background-color:white;
    border:1px solid #CDD9E1;
    border-radius:15px;
    font-size: 30px;
}
.button:hover{
    background-color: #2C3E50;
}

.rightArrowButton{
    margin-left:12px;
}
.flex-3{
    display:flex;
    margin-top:41px;
    justify-content: space-between;
  
}
.product{
    width:270px;
    height:562px;
    background-color: white;
    position:relative;
    border:1px solid #E6E6E6;
    border-radius:15px;
  
}
.innerDiv{
    position:absolute;
    height:194px;
    width:270px;
    bottom:0;
    box-sizing: border-box;
    border-top:1px solid #707070;
    /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
    
}
.secondInnerDiv{
    width:270px;
    height:69px;
    position: absolute;
    bottom:0;
    border-top:1px solid #707070;
}
.productName{
    font-size:18px;
    font-weight:bold;
    color:#2C3E50;
    margin-top:16.6px; 
    margin-left:21px;
}
.staricon{
    color:#1ABC9C;
    margin-top:17px;
    width:15px;
    width:10px;
}
.firstIcon{
    margin-left:21px;
    
}
.price{
    font-size:20px;
    font-weight:900;
    color:#2C3E50;
    margin-top:9px; 
    margin-left:21px;
}
.addToCart{
    width:105px;
    height:28px;
    background-color: #A1B1BC;
    color:white;
    border:1px solid  #A1B1BC;
    border-radius:2px;
    margin-left:20px;
    margin-top:23px;
}
.details{
    width:105px;
    height:28px;
    background-color: #A1B1BC;
    color:white;
    border:1px solid  #A1B1BC;
    border-radius:2px;
    margin-left:15px;
}
.buttonIcon{
    margin-right:8px;
}
.product:hover .innerDiv{
    background-color:#2C3E50;
}
.product:hover .productName{
    color:white;
}
.product:hover .price{
    color:white;
}
.product:hover .addToCart{
    background-color:#1ABC9C;
}
.product:hover .details{
    background-color:transparent;
    border:1px solid  white;
}
/*----------------------------- component 4------------------------------------ */
.component-4{
    width:100vw;

}
.container-4{
    box-sizing: border-box;
    width:60.9375%;
    min-width:1170px;
    border:1px solid #DFE8EA;
    height:140px;
    margin:auto;
    margin-top:100px;
    margin-bottom:50px;
    padding-top:20px;
    padding-left:31px;
    padding-right:43px;
    position:relative;
}
.cartIcon{
    width:100px;
    height:100px;
    float:left;
    margin-right:39px;
}
.text-4{
    font-size:24px;
    font-weight:bold;
    display:inline-block;
    color:#34495E;
    margin-top:12px;
    
}
.subtext-4{
    width:751px;
    font-size:14px;
    font-weight:400;
    color:#A1B1BC;
    margin-top:10px;
    float:left;
    line-height: 24px;
}
.purchase{
    width:180px;
    height:62px;
    background-color: #34495E;
    border:1px solid #34495E;
    border-radius:10px;
    font-size:15px;
    font-weight:900;
    color:white;
    position:absolute;
    right:43px;
    top:41px;

}

/*--------------------------- component 5 -----------------------------*/

.component-5{
    width:100vw;
}
.container-5{
    width:60.9375%;
    min-width:1170px;
    margin:auto;
}
.div-5{
    width:100%;
    height:600px;
    background-color: #CCCCCC;
    position: relative;
}
.innerDiv-5{
    width:306px;
    height: 277px;
    position: absolute;
    top:245px;
    right:83px;
}
.div-5-name{
    
    font-size:60px;
    font-weight:300;
    color:#2C3E50;
    line-height: 24px;
}
.div-5-name > span{
    font-weight:900;
    color:white;
    background-color: #17D8B2;
    display:inline-block;
    padding:20px 4px;
    box-sizing: border-box;
    border:1px solid #17D8B2;
    border-radius:10px;
}
.div-5-info{
    white-space: pre;
    line-height: 36px;
    font-size:18px;
    font-weight:400px;
    color:#2C3E50;
    margin-top:-16px;
    margin-left:5px;
    
}
.detailButton{
    width:150px;
    height:50px;
    font-size:18px;
    font-weight:400;
    color:white;
    background-color: #2C3E50;
    margin-left:5px;
    margin-top:-16px;
}
.flex-5{
    display:flex;
    margin-top:10px;
    height:455px;
    width:100%;
    justify-content: space-between;
   
}
.product-5{
    width:32.7350%;
    background-color: #CCCCCC;
}
.plusSymbol{
    width:100%;
    height:200px;
    
    vertical-align: middle;
   position: relative;
    color:white;
    background-color: #1ABC9C;
    visibility: hidden;
}
.plusSymbol div{
    width:70px;
    height:70px;
    border:2px solid white; 
    border-radius: 50%;
    font-weight:300;
    font-size: 48px;
    text-align: center;
    vertical-align: middle;
    line-height:70px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.productInfo{
    box-sizing: border-box;
    width:100%;
    height:205px;
    background-color: #ECF0F1;
    padding-top:11px;
    padding-left:27px;
    padding-right:23.4px;
}
.productInfo > .productName{
    margin-left:0;
}
.info{
    font-size:14px;
    color:#A1B1BC;
    font-weight:400;
    line-height: 24px;
    margin-top:11px;
}
.viewDetails{
    width:100%;
    height:50px;
    background-color: #1ABC9C;
    color:white;
    font-size:15px;
    padding-top:14px;
    padding-left:30px;
    box-sizing: border-box;
}
.product-5:hover .plusSymbol{
    visibility: visible;
}
.product-5:hover .productInfo{
    background-color: #2C3E50;
}
.product-5:hover .viewDetails{
    background-color: #1E2A37;
}
.product-5:hover .productInfo > .productName{
    color:white;
}

/* --------------------- component 6 ------------------------- */
.container-6{
    width:60.9895%;
    min-width:1120px;
    margin:auto;
    height:1242.96px;
    padding-top:38px;
}
.heading{
    font-size:36px;
    font-weight:900;
    color:#34495E;
    float:left;
}
.grid-6{
    /* width:1172.4px; */
    display:grid;
    grid-template-columns: repeat(4,270px);
    grid-template-rows: repeat(2,562px);
    height:1154px;
    width:1170px;
    grid-gap:30px;
    margin-top:88px;
}
.grid-6-item{
    background-color:pink;
}
.topDiv{
    height:50px;
    width:270px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   
    /* padding-top:16.5px;
    padding-left:19.2px; */
    color:white;
    padding:16.5px 19.2px 16.5px 19.2px;
    box-sizing: border-box;
}

.topDiv > p{
    display: inline-block;
}
.topDiv > img{
    float:right;
}
.featuredProduct{
    background-color: #E46960;
}
.bestSeller{
    background-color: #21C2F8;
}
.innerDiv > div{
    margin-top:0;
    margin-bottom:0;
    padding:0;
}
.innerDiv > .inlinePrice{
    
    display:inline-block;
}
.blue{
    display:inline-block;
    margin-left:12px;
    width:90px;
    height:26px;
    background-color: #21C2F8;
    color:white;
    font-size:20px;
    font-weight:900;
    text-align: center;
  
    border-radius:3px;
}

.plus{
    width:30px;
    height:26px;
    background-color: #2C3E50;
    color:white;
    font-size:20px;
    font-weight:900;
    display: inline-block;
    margin-left:-5px;
    text-align: center;
    border-radius:3px;
    visibility: hidden;
    border:1px solid black;
}
.blue:hover + .plus{
    visibility: visible;
}
.space-2{
    width:100vw;
    height:100px;
    background-color:white;
    /* margin-top:-2px; */
}
/* -------------------component 7----------------------------- */
.component-7{
    margin:0;
    /* padding:0 375px 0 375px; */
    background-color:#ECF0F1;
    /* margin-top:-2px; */
    height:694px;
}
.container-7{
    width:60.9895%;
    min-width:1120px;
    margin:auto;
    height:600px;
    padding-top:88px;
   
}
.grid-7{
    display:grid;
    grid-template-columns: repeat(2,570px);
    grid-template-rows: repeat(2,194px);
    grid-gap:30px;
    height:418px;
    width:1170px;
    margin-top:88px;
}
.grid-7-item{
    position: relative;
}
.column-1{
    width:40px;
    height:194px;
    text-align: center;
    position: absolute;
    top:0;
    left:0;
}
.row-icon{
    background-color: #686D80;
    font-size:40px;
    width:40px;
    height:30px;
    padding-top: 10px;
    border-bottom:1px solid white;
    color:white;
}
.row-icon-1{
    background-color: #1ABC9C;
}
.row-icon-black{
    background-color:#3A3E4A;
}
.row-icon-green{
    background-color:#7BC200;
}
.row-icon-blue{
    background-color:#0787D4;
}
.row-icon-red{
    background-color:#EF584D;
}
.column-1 >p{
    background-color: #686D80;
    width:40px;
    height:60px;
    padding-top: 11px;
    text-align: center;
    color:white;
}
.column-2{
    width:300px;
    height:194px;
    background-color:#CCCCCC;
    float:left;
    border-right:1px solid #E6E6E6;
    box-sizing: border-box;
   position: relative;
    
}
.column-3{
    width:270px;
    height:194px;
    background-color: white;
    float:left;
    padding-top:15px;
    padding-left:21px;
    box-sizing: border-box;
    
}
.blogTitle{
    font-size: 18px;
    font-weight: bold;
    color:#2C3E50;
}
.subtitle{
    font-size: 15px;
    font-weight:400;
    color:#34495E;
    margin-top:5px;
}
.blogText{
    font-size: 15px;
    font-weight: 400;
    color:#A1B1BC;
    line-height: 24px;
    margin-top:9px;
}
.square{
    width:8px;
    height:8px;
    background-color: white;
    border-left: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    box-sizing: border-box;
    transform: rotate(45deg);
    position:absolute;
    top:20px;
    right:267px;
}
.col-2-icons{
    color:white;
}
.hidden{
    width:85px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
}
.chain{
    margin-right:20px;
}
.column-2:hover > .hidden{
    visibility: visible;
}
.column-2:hover{
    background-color: #1ABC9C;
}
.column-2:hover .row-icon-1{
    background-color:#3A3E4A;
}

/* ----------------------component 8 -------------------*/
.component-8{
    width:100vw;
    height:673px;
    background-color: #000000;
    position: relative;
}
.container-8{
    width:61.7%;
    min-width:1184px;
    margin:auto;
    padding-top:93px;
}
.text-8{
    color:white;
    width:630.7px;
    height:189.61px;
    margin:auto;
   
    text-align: center;
}
.heading-8{
    font-size: 30px;
    font-weight: 100;
    color:white;
}
.heading-8 > span{
    font-weight:900;
}
.subtext-8{
    width:490px;
    margin:auto;
    margin-top:6px;
    font-size:14px;
    line-height:24px;

}
.button-8{
    width:172px;
    height:45px;
    color:white;
    margin-top:17px;
    margin-left:3px;
    font-weight: 900;
    font-size:15px;
}
.purchase-8{
    background-color: #21C2F8;
    border:none;
}
.learnMore{
    background-color: transparent;
    border:1px solid white;
}
.container-8 > img{
    margin-top: 40px;
}
.left-8{
    position: absolute;
    top:307px;
    left:200px;
}
.right-8{
    position: absolute;
    top:307px;
    right:10.4166%;
}
.arrow-8{
    width:60px;
    height:60px;
    border:1px solid white;
    box-sizing: border-box;
    border-radius:50%;
    color:white;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}

/* ----------------------component 9 ---------------------*/
.component-9{
    width:100vw;
    height:522px;
    background-color: #ECF0F1;
    box-sizing: border-box;
    padding-top:90px;
}
.flex-item-9{
    width:570px;
    

}
.flex-item-9 > p{
    font-size: 36px;
    font-weight: 100;
    color:#34495E;
}
.flex-item-9 > p > span{
    font-weight:900;
}
.flex-9{
    display:flex;
    justify-content: space-between;
    width:1170px;
    margin:auto;
}
.grid-8{
    display:grid;
    grid-template-columns:532px 38px;
    grid-template-rows: 40px 40px 122px 40px;
    margin-top: 44px;
    row-gap:2px;
}
.grid-item-8{
    background-color: #FFFFFF;
    border:1px solid #E5E5E5;
    color:#A1B1BC;
    font-size:14px;
    padding:10px 16px;
}
.letters{
    font-size:18px;
}
.activeDiv{
    grid-column: 1/-1;
    padding:21px 20px;
    background-color: #FFFFFF;
    border:1px solid #E5E5E5;
    color:#A1B1BC;
}
.graySquare{
    width:80px;
    height:80px;
    background-color: #CCCCCC;
    float:left;
}
.activeDiv > p{
    width:413.5px;
    margin-left:18.5px;
    float:left;
    font-size:14px;
    line-height: 24px;
    
}
.grid-item-8:hover{
    color:#1ABC9C;
}
.grid-8-2{
    display:grid;
    grid-template-columns: repeat(4, 142.5px);
    grid-template-rows: 40px 206px;
    margin-top: 44px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-right:1px solid #E7EAEA;
    
}
.grid-title{
    border:1px solid #E7EAEA;
    border-right:none;
    box-sizing: border-box;
    color:#A1B1BC;
    font-size:14px;
    padding:11.6px 0 11.6px 19.7px;
    position: relative;
}
.grid-second-div{
    grid-column:1/-1;
    border-bottom:1px solid #E7EAEA;
    border-left:1px solid #E7EAEA;
    box-sizing: border-box;
    padding-top:25px;
    padding-left:20px;
}
.grid-second-div > img{
    float:left;
    width: 60px;
    height:68px;
}
.grid-second-div > p{
    display:inline-block;
    color:#A1B1BC;
    font-size:14px;
    line-height: 24px;
    width:530px;
    margin-top:23px;    
}
#indent-text{
    width:448px;
    float:left;
    margin-left:22.5px;
    margin-top:0;
}
.grid-title:hover{
    color:#34495E;
}
.grid-title:active{
    color:#1ABC9C;
}
.grid-title:active > .greenLine{
    display:block;
}
.greenLine{
    width: 100%;
    height:2px;
    background-color:#1ABC9C;
    position:absolute;
    top:0;
    left:0;
    display:none;
}
/* ----------------------component 10 ---------------------*/

.component-10{
    width:100vw;
    height:300px;
    background-color: #34495E;
    padding-top:87px;
    box-sizing: border-box;
}
.container-10{
    width:55.3645%;
    min-width:1070px;
    margin:auto;
    height:112px;
    display:flex;
    justify-content: space-between;
}
.flex-item-10{
    width:180px;
    height:112px;
    color:white;
}
.num{
    font-weight: 100;
    font-size:72px;
    width:100%;
    height:80px;
}
.subtext-10{
    font-size:18px;
    font-weight:900;
    float:right;
    margin-top:3px;
}
/* ----------------------component 11 ---------------------*/
.component-11{
    width:100vw;
    height:613px;
    padding-top:96px;
    box-sizing: border-box;
}
.container-11{
    width:60.9375%;
    min-width:1170px;
    margin:auto;
    height:316.22px;
    display:flex;
    justify-content: space-between;
}
.flex-item-11{
    width:270px;
    height:316.22px;
    
}
.flex-item-11 > p{
    color:#2C3E50;
    font-size:18px;
    font-weight:bold;
    padding-bottom:11.3px;
    box-sizing: border-box;
    
}
.ul-1{
    width:270px;
    border-top:2px solid #A1B1BC;
}
.ul-1 > li{
    list-style: none;
    width:279px;
    font-size:14px;
    color:#A1B1BC;
    border-bottom:1px solid #ECF0F1;
    box-sizing: border-box;
   height:41px;
   line-height: 39px;
   
}
.check-icon{
    color:#1ABC9C;
    margin-right:10px;
}
.ul-1 > .no-border{
    border-bottom:none;
}
.search-bar{
    width:60.9375%;
    min-width:1170px;
    margin:auto;
    height:60px;
    box-sizing: border-box;
    border:1px solid #EAEAEA;
    background-color: #F5F7F8;
    margin-top:42px;
    border-radius:3px;
    padding:20px 25px 20px 30px;
}
.search-bar > p{
    font-size: 14px;
    color:#A1B1BC;
    float:left;
}
.search-bar > i{
    font-size:24px;
    color:#A1B1BC;
    float:right;
}

/* ----------------------component 12 ---------------------*/
.component-12{
    width:100vw;
    height:360px;
    box-sizing: border-box;
    display:flex;
    
}
.flex-item-12{
    width:33.3333%;
    height:360px;
    padding-top:75.3px;
    box-sizing: border-box;
}
.indigo{
    background-color: #4E459A;
}
.cyan{
    background-color: #63D8FF;
}
.pink{
    background-color: #E36968;
}
.text-container{
    width:75%;
    min-width:400px;
    
    height:250px;
    margin:auto;
    color:white;
    
}
.title-12{
    font-size:15px;
    font-weight:900;
}
.text-12{
    margin-top:6px;
    line-height:24px;
    font-size:14px;
}
.purchase-12{
    width:170px;
    height:50px;
    background-color: transparent;
    color:white;
    box-sizing: border-box;
    border:2px solid white;
    border-radius: 5px;
    margin-top:26px;
    font-weight:900;
    font-size:15px;
}

/* -------------------------component 13 ------------------*/
.component-13{
    width:100vw;
   

}
.container-13-1{
    width:100%;
    height:145px;
    background-color:#FFFFFF;
    padding-top:29px;
    box-sizing: border-box;
}
.container-13-2{
    width:100%;
    height:100px;
    background-color:#1ABC9C;
    box-sizing: border-box;
    position: relative;
}
.flex-13{
    display:flex;
    width:1116px;
    height:85px;
    margin:auto;
    justify-content: space-between;
    align-items: center;
}
.text-13{
    font-size:24px;
    font-weight:100;
    color:white;
    display:inline-block;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:1088px;
}

.square-13{
    width:21px;
    height:21px;
    transform: translateX(-50%) rotate(45deg);
    position: absolute;
    left:50%;
    bottom:-11px;
    background-color:#1ABC9C;
    z-index: 1;
    
}
/*------------------------------- component 16 --------------------------*/
.component-16{
    width:100vw;
    height:82px;
    background-color: #1A1C27;
    box-sizing: border-box;
}
.container-16{
    width:1169px;
    margin:auto;
    height:18px;
    box-sizing: border-box;
    padding-top:30px;
}
.container-16 > p{
    display: inline-block;
    font-size:15px;
    color:white;
    
}
.container-16 > p >span{
    color:#1ABC9C;
    
}
.ul-8{
    list-style: none;
    display: inline-block;
    color:white;
    font-size:15px;
    margin-left:155px;
}
.ul-8 > li{
    display: inline-block;
    margin-left:26px;
}
.ul-8 > li > a:hover{
    color:#1ABC9C;
}